.profile_card {
  width: 300px;
  height: 500px;
  border-radius: 30px;
  background-color: white;
  padding: 0.5em;
}

.profile_img {
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 30px;
}
